<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/new}" th:object="${user}">
    <label for="firstName">Enter your first name</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>

    <label for="lastName">Enter your last name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <input type="submit" value="submit">
</form>

</body>
</html>